In [2]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))
print(num1%num2)

enter the first number 5
enter the second number 2

1

In [3]:
#Operators
#arithmetic + ,-,*,/
#conditional <,>,<=,>=
#logical AND, OR , NOT

In [5]:
#conditional statment
#if statement:
#statement
#else
    #statement
number = int (input("Enter a marks of your exam"))
if number >= 80:
    print("you got A+")
else:
    print("Fail")

Enter a marks of your exam 80

you got A+

In [9]:
#conditional Statment
#if statement
#else
    #statement
age = int(input("Enter the age"))
if age > 35:
        print("senior")
else:
    print("junior")

Enter the age 22

junior

In [1]:

for i in range(1,6,2):
    print(i)

1
3
5

In [4]:
#loop
for i in range(0,10,5):
    print(i)

0
5

In [1]:
sum = 0
for i in range (1, 101):
    sum = sum + i
print(sum)

5050

In [6]:
sum = 0
for i in range(1,101,2):
    sum= sum + i
print(sum)

2500

In [7]:
sum = 0
for i in range(1,101,2):
    sum += i
print(sum)

2500

In [9]:
sum = 0
for i in range(0,101,2):
    sum += i
print(sum)

2550

In [21]:
sum3 = 0
for i in range(0,201,2):
    sum3 += i
print(sum3)

10100

In [20]:
sum4 = 0
for i in range(1, 101):
    if(i%2 == 1):
        continue
    else:
        sum4 += i
print(sum4)

2550

In [1]:
#while loop
#while condition:
#statement
sum5 = 0
i = 1
while i < 101:
    sum5 += i
    i = i + 1
print(sum5)

5050

In [24]:
sum = 0
for i in range(0,201,5):
    sum+=i
print(sum)

4100

In [13]:
sum = 0
for i in range(1,301):
    sum = sum + i
print(sum)

45150

In [18]:
sum = 0 
for i in range(1,301,2):
    sum += i
print(sum)

22500

In [ ]:
sum = 0
i = 1
while i<101:
    sum = sum + i
    i = i + 2
print(sum)